* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  /* font-family: 'Courier New', Courier, monospace; */
  
  /* background: linear-gradient(to top, #680707, #140b11); */
  color: #260000;
  line-height: 1.7;
  
}
.page {
  max-width: 56rem;
  margin:auto;
  padding:2rem;
}





header {
  position: relative;
  border: 2px double #260000;
  margin-top: 2rem;
  padding: 1.5rem;
  /* background: linear-gradient(to top, #680707, #140b11); */
  /* opacity: 0; */
  /* transition: opacity 0.6s ease; */
  z-index: 5;
}
header h1 {
  position: relative;
  font-size: 2rem;
  letter-spacing: 0.032em;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  color: #ab0000;
  z-index: 5;
  
}
header p {
  position: relative;
  font-size: 0.95rem;
  color: #260000;
  z-index: 5;
  
}
/* header:hover {
    opacity: 1;
} */





.important {
  position: relative;
  margin-top: 1rem;
  padding: 0.5rem 1rem 0.5rem;
  border: 1px dashed #260000;
  /* font-family: 'Courier New', Courier, monospace; */
  font-size: 0.95rem;
  text-transform: uppercase;
}
.important-label {
   position: relative;
  color:#260000;
}





.layout {
  display: grid;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

nav {
  
  /* background: linear-gradient(to top, #680707, #140b11); */
  border: 1px solid #260000;
  padding: 1.5rem;
  top: 1rem;
  /* opacity: 0; */
  transition: opacity 0.6s ease;
  z-index: 5;
}
nav h2 {
  position: relative;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 0.75rem;
  color: #ab0000;
}
nav ul {
  list-style: none;
}
nav a {
  position: relative;
  text-decoration: none;
  color: #260000;
  padding: 0.5rem;
}
nav a:hover {
  color: #ff9797;
  background: #ab0000;
}
/* nav:hover{
  opacity: 1;
} */







main {
  /* background-color: #680707;
  background: linear-gradient(to top, #680707, #140b11); */
  position: relative;
  border: 1px solid #260000;
  padding: 1.5rem;
  /* opacity: 0; */
  transition: opacity 0.6s ease;
  z-index: 5;
}
/* main:hover{
  opacity: 1;
} */
main h2{
  color: #ab0000;
}



.item-list {
  list-style-type: upper-roman;
  margin-left: 1rem;
}

.item-note {
  font-size: 0.8rem;
  color: #260000;
  display: block;
}






.extra {
    list-style: none;
}


.eater-regular {
  font-family: "Eater", serif;
  font-weight: 400;
  font-style: normal;
}

/* 

p {
    background-image: linear-gradient(red, blue);
    color: transparent;
    background-clip: text;
} */



/* li{
  color: #ff3434;
  opacity: 0;
  transition: opacity 0.6s ease;
}

li:hover{
  opacity: 1;
}


p{
  color: #ff3434;
  opacity: 0;
  transition: opacity 0.6s ease;
}

p:hover{
  opacity: 1;
} */


